@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200;300;600&display=swap');

/*---------RESET--------*/

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ysabeau SC', sans-serif;
}



